<div class="card">
    <div class="card-block p-5 bg-light">
       <h3>Send Ether</h3>
      <hr>
          <div class="form-group"> 
           <form [formGroup]="form" (ngSubmit)="sendEther()">
             <input type="text" name="name"
            id="name" formControlName="nameUsd"  class="form-control"  aria-describedby="nameHelp" placeholder="Enter Name"> <small id="nameHelp" class="form-text text-muted">Enter the Name you desire.</small>
          
      
            <input type="text" name="number"
            id="sentEther" formControlName="sentEtherUsd"  class="form-control"  aria-describedby="sentEtherHelp" placeholder="Enter Amount to send"> <small id="feeHelp" class="form-text text-muted">Show some ether to a name</small>
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary" data-toggle="modal" data-target="#modal6" >Submit</button>
            </form>
          </div>
         </div>
  </div>

  <app-modal #modal modalId="modal6"></app-modal>