<div class="card">
  <div class="card-block p-5 bg-light">
      <ul class="list-group">
      <li class="list-group-item">
        Any Name can be reserved initially with a nominal fee of .1 Eth(1 Finney)
      </li>
      <li class="list-group-item">
        Once a name is reserved the reserving person becomes the name owner.
      </li>
      <li class="list-group-item">
        You can bid on a reserved name in the name auction.
      </li>
      <li class="list-group-item">
        The auction only ends when the name owner accepts the highest bid.
      </li>
      <li class="list-group-item">
        If your bid is over-bidden by another, you can withdraw your locked funds.
      </li>
      <li class="list-group-item">
        Highest bid for a name cannot be withdrawn and is locked in a Smart contract.
      </li>

    </ul>
  </div>
  </div>