<div class="container-fluid">
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="p-3 align-self-center col-md-4 ">
                    <app-name-highest-bid></app-name-highest-bid>
                </div>
                <div class="p-3 align-self-center col-md-4 ">
                    <app-name-owner></app-name-owner>
                </div>
                <div class="p-3 align-self-center col-md-4 ">
                    <app-name-withdraw-bid></app-name-withdraw-bid>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="p-3 align-self-center col-md-4 ">
                    <app-name-bid-new></app-name-bid-new>
                </div>
                <div class="p-3 align-self-center col-md-4 ">
                    <app-name-send-ether></app-name-send-ether>
                </div>
            </div>
        </div>
    </div>

</div>