<div class="container">
  <div class="row">
    <div class="col-md-12 text-white h-100">
      <h1 class="display-3 mb-4 text-dark">DNS DAPP&nbsp;</h1>
      <p class="lead mb-5 text-dark">Get your name reserved on Ethereum&nbsp;</p>
      <a routerLink="/reserve" routerLinkActive="active" class="btn btn-lg align-items-center mx-5 btn-primary">Reserve A Name</a>
      <a routerLink="/bid" routerLinkActive="active" class="btn btn-lg mx-5 btn-secondary">Bid on a Name</a>
    </div>
  </div>
</div>