<div class="container">
  <div class="row">
    <div class="col-md-12 text-white h-100">
      <h1 class="display-3 mb-4 text-dark">DAPP example&nbsp;</h1>
      <p class="lead mb-5 text-dark">
        Get your name reserved on Ethereum&nbsp;
      </p>

      <!-- <a
        routerLink="/mynames"
        routerLinkActive="active"
        class="btn btn-lg mx-5 btn-primary"
        >My Names</a
      >
      <a
        routerLink="/mybids"
        routerLinkActive="active"
        class="btn btn-lg align-items-center mx-5 btn-secondary"
        >My Bids</a
      > -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-white h-100">
      <app-rules></app-rules>
    </div>
  </div>
</div>
