<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="p-3 align-self-center col-md-12">
        <app-name-check></app-name-check>
      </div>
    </div>
  </div>

  <!-- <div class="py-6">
    <div class="container-fluid"> -->
  <div class="container">
    <div class="row">
      <div class="p-3 align-self-center col-md-6">
        <app-name-reserve></app-name-reserve>
      </div>
      <div class="p-3 align-self-center col-md-6 ">
        <app-name-send-ether></app-name-send-ether>
      </div>
    </div>
  </div>
</div>
