<div class="container-fluid">
  <div class="row">
    <div class="p-3 align-self-center col-md-10">
      <app-name-check></app-name-check>
    </div>

    <!-- <div class="p-3 align-self-center col-md-4">
      <app-name-price></app-name-price>
    </div> -->

    <!-- <div class="p-3 align-self-center col-md-4">
      <app-name-highest-bid></app-name-highest-bid>
    </div> -->
  </div>
  <!-- <div class="py-6">
    <div class="container-fluid"> -->
  <div class="row">
    <div class="p-3 align-self-center col-md-5">
      <app-name-reserve></app-name-reserve>
    </div>
    <div class="p-3 align-self-center col-md-5 ">
      <app-name-send-ether></app-name-send-ether>
    </div>
    <!-- </div>
    </div> -->
  </div>
</div>
