<div class="container-fluid">
  <div class="row">
    <div class="p-3 align-self-center col-md-4">
      <app-name-check></app-name-check>
    </div>

    <div class="p-3 align-self-center col-md-4">
      <app-name-price></app-name-price>
    </div>

    <div class="p-3 align-self-center col-md-4">
      <app-name-highest-bid></app-name-highest-bid>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="p-3 align-self-center col-md-4">
          <app-name-reserve></app-name-reserve>
        </div>

        <div class="p-3 align-self-center col-md-4">
          <app-name-accept-bid></app-name-accept-bid>
        </div>
        <div class="p-3 align-self-center col-md-4">
          <app-my-names></app-my-names>
          <!-- Hitesh -->
        </div>
      </div>
    </div>
  </div>
</div>
