<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">
      <i class="fa d-inline fa-lg fa-cloud"></i>
      <b>DApp Sample</b>
    </a>

    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbar2SupportedContent"
      aria-controls="navbar2SupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse text-center justify-content-end"
      id="navbar2SupportedContent"
    >
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/dashboard"
              routerLinkActive="active"
            >
              <i class="fa d-inline fa-lg fa-home"></i>DNS Home</a
            >
          </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/reserve" routerLinkActive="active">
            <i class="fa d-inline fa-lg fas fa-trophy"></i> Reserve Names</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bid" routerLinkActive="active">
            <i class="fa d-inline fa-lg fa-gavel"></i> Bid on names</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/mynames" routerLinkActive="active">
            <i class="fa d-inline fa-lg fa-gavel"></i>My Names</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/mybids" routerLinkActive="active">
            <i class="fa d-inline fa-lg fa-gavel"></i>My Bids</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/did" routerLinkActive="active">
            <i class="fa d-inline fa-lg fa-gavel"></i>Did Viewer</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="py-5 text-center opaque-overlay w-100"> container -->
<div class="container-fluid">
  <div class="jumbotron">
    <div class="container">
      <router-outlet></router-outlet>
      <div>
        <div class="social">
          <a href="https://github.com/hiteshjoshi1/" class="fa fa-github"></a>
          <a
            href="https://www.linkedin.com/in/hiteshjoshi1/"
            class="fa fa-linkedin"
          ></a>
          <a href="https://twitter.com/joshi_ji" class="fa fa-twitter"></a>
        </div>
      </div>
    </div>
  </div>
</div>
