<div class="card">
    <div class="card-block p-5 bg-light">
      <h3>Check Name Price</h3>
      <hr>
      <form [formGroup]="form" (ngSubmit)="getNamePrice()">
          <label for="name">Name</label>
          <input type="text" name="name"
          id="name" formControlName="nameUsd"  class="form-control"  aria-describedby="nameHelp" placeholder="Enter Name"> <small id="nameHelp" class="form-text text-muted">Enter the Name you desire.</small>
                 
          <button type="submit" [disabled]="!form.valid" class="btn btn-dark">Submit</button>
          </form>
          {{price}}
    </div>
  </div>