<div class="card">
    <div class="card-block p-5 bg-light">
      <h3>Check Name Price</h3>
      <hr>
      <form [formGroup]="form" (ngSubmit)="getNamePrice()">
          <input type="text" name="name"
          id="name" formControlName="nameUsd"  class="form-control"  aria-describedby="nameHelp" placeholder="Enter Name"> <small id="nameHelp" class="form-text text-muted">Enter the Name you desire.</small>
                 
          <button type="submit" [disabled]="!form.valid" class="btn btn-primary" data-toggle="modal" data-target="#modal3">Submit</button>
          </form>

    </div>
  </div>

  <app-modal #modal modalId="modal3"></app-modal>