<div class="card">
    <div class="card-block p-5 bg-light">
       <h3>Find Name Owner</h3>
      <hr>
          <div class="form-group"> 
           <form [formGroup]="form" (ngSubmit)="getOwner()">
            <label for="name">Name</label>
            <input type="text" name="name"
            id="name" formControlName="nameUsd"  class="form-control"  aria-describedby="nameHelp" placeholder="Enter Name"> <small id="nameHelp" class="form-text text-muted">Enter the Name you desire.</small>
          
            <button type="submit" [disabled]="!form.valid" class="btn btn-dark">Submit</button>
            </form>

          </div>
          {{owner}}
    </div>
  </div>
